@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
	background-color: #323a45;
	color: black;
}



#secretariat,#schedule,#committees,#register,#about,#page-top,#contact,#sponsors
{
	background-color: #323a45;
	color:#B7B7B9;
	font-family:Montserrat;
	
}
.section-wrapper, .copyright-section{
	background-color: #323a45;
}
.col-md-12
{
	color:black;
}
.pad
{
	color: white;
}


h1
{
	color: white;
	
font-family:Montserrat;

}
h2
{
	color:white;
	font-family:Montserrat;
}
h3
{
	color:#B7B7B9;
	font-family:Montserrat;
}
.btn-primary
{
	background-color: #00c8aa;
	border-color:#00c8aa;
}
#ncol
{
	background-color: #00c8aa;

}
.lead
{color:#00c8aa;}